<!DOCTYPE html>

<html>

<head>
    <Title>{{title}}</Title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Deze website is gemaakt door Kristof Volkaerts. het gebruikt data van mapbox.com en weatherstack.com.</p>
        <img class="portrait" src="/img/myImage.jpg">
        <p>This is the About me page!</p>
    </div>
    {{>footer}}
</body>


</html>