<!DOCTYPE html>

<html>

<head>
    <Title>{{title}}</Title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">

        {{>header}}
        <p>This is the Home page!</p>
        <!-- hier komt alle data voor de website -->
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
        <p id="message-3"></p>
        <p id="message-4"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>


</html>